{
  "root": true,
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "instance-variables",
          "lifecycle",
          "rendering",
          "getters",
          "setters",
          "/^on.+$/",
          "instance-methods",
          "everything-else"
        ],
        "groups": {
          "lifecycle": [
            "constructor",
            "displayName",
            "propTypes",
            "contextTypes",
            "childContextTypes",
            "mixins",
            "statics",
            "defaultProps",
            "getDefaultProps",
            "getInitialState",
            "state",
            "getChildContext",
            "getDerivedStateFromProps",
            "componentWillMount",
            "UNSAFE_componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "UNSAFE_componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "UNSAFE_componentWillUpdate",
            "getSnapshotBeforeUpdate",
            "componentDidUpdate",
            "componentDidCatch",
            "componentWillUnmount",
            "componentDidCatch"
          ],
          "rendering": [
            "render",
            "/^render.+$/"
          ]
        }
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true,
        "callbacksLast": true,
        "shorthandFirst": false,
        "shorthandLast": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "always",
        "children": "never"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "tabWidth": 4,
        "quoteProps": "consistent",
        "proseWrap": "never",
        "htmlWhitespaceSensitivity": "strict"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "no-duplicate-imports": "error",
    "import/no-duplicates": "off",
    "import/extensions": [
      "error",
      {
        "tsx": "never",
        "ts": "never",
        "jsx": "never",
        "js": "never",
        "css": "always",
        "styl": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.tsx",
          "**/*.stories.tsx"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "react": {
      "version": "detect"
    }
  }
}